html {
  font-family: 'Roboto';
  line-height: 25px;
}

body {
  background-color: #E0E0E0;
}

li {
  list-style-type: none;
  margin-bottom: 20px;
}

ul {
  padding-left: 10px;
  padding-right: 10px;
}

a {
  text-decoration: none;
}

a:visited {
  color: #424242;
}

a:hover {
  text-decoration: underline;
}

.container {
  border: 2px solid #424242;
  border-radius: 10px;
  margin: 0 auto;
  text-align: center;
  box-shadow: 2px 2px 5px #E0E0E0;
  background-color: #FAFAFA;
  max-width: 80%;
}

img {
  width: 80%;
  max-width: 400px;
  height: auto;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #E0E0E0;
}

.sub-title {
  margin-bottom: 40px;
  margin-left: 5px;
  margin-right: 5px;
}

.year {
  font-weight: bold;
  text-decoration: underline #424242;
}